@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: salmon;
}
.scoreboard{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    border: 2px solid #aaa;
    background-color:rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.userpoint{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}
.computerpoint{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}
.tiepoint{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}
.userpoint .player{
    margin-right: 100px;
}
.computerpoint .player{
    margin-right: 50px;
}
.tiepoint .player{
    margin-right: 119px;
}
.container{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}  
.user{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}  
.computer{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}  
.button{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-bottom: 10px;
    background: white;
    cursor: pointer;
    border: 1px solid #aaa;
    outline: none;
}
.user button:hover{
    border:5px solid rgb(0, 0, 0) ;
    transition: 0.5s;
}
i{
   font-size: 100px;
}
.reset{
    position: absolute;
    top:35%;
    left: 13%;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color:white;
    background: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}
.tag{
    position: absolute;
    left: 36.5%;
    top: 8%;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
.tag span{
    margin-right: 105px;
    background-color: rgb(247, 244, 244);
    padding: 5px 20px;
    border-radius: 10px;
}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    background-color: rgb(247, 244, 244);
    padding: 0 10px;
    border-radius: 10px;
    position: absolute;
    top: 90%;
    left: 23%; 
}

@media screen and (max-width:600px){
   
    .container{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }  
    .user{
        display: flex;
        flex-direction: column;
        margin-left: 45px;
        margin-right: 20px;
    }  
    .computer{
        display: flex;
        flex-direction: column;
    }  
    .button{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-bottom: 10px;
        background: white;
        cursor: pointer;
        border: 1px solid #aaa;
        outline: none;
    }
    i{
        font-size: 50px;
     }
     p{
        font-family: 'Oswald', sans-serif;
        font-size: 13px;
        background-color: rgb(247, 244, 244);
        padding: 5px;
        border-radius: 10px;
        position: absolute;
        top: 30px;
        left: 15px;  
     }
     .scoreboard{ 
        width: 150px;
        height: 105px;      
        position: absolute;
        top: 10%;
        background: rgb(0, 0, 0);
        left: 28%;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;   
    }
    .userpoint{
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
    }
    .computerpoint{
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
    }
    .tiepoint{
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
    }
    .userpoint .player{
        margin-right: 78px;
    }
    .computerpoint .player{
        margin-right: 38px;
    }
    .tiepoint .player{
        margin-right: 92px;
    }
    .reset{
        position: absolute;
        top:25%;
        left: 42%;
        width: 50px;
        height: 25px;
        border-radius: 25px;
        letter-spacing: 1px;
        font-size: 12px;
        cursor: pointer;
    }
    .tag{
        position: absolute;
        left: 23%;
        top:30%;
        font-size: 15px;
        font-weight: 600;
        display:flex ;
        flex-direction: row;
    }
    .tag span{
        margin-right: 25px;
        background-color: rgb(247, 244, 244);
        padding: 5px 20px;
        border-radius: 10px;
    }
   .user button{
       border: 5px solid black;
   }
}

@media screen and (max-width:400px){
   
    .container{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
    }  
    .user{
        display: flex;
        flex-direction: column;
        margin-left: 45px;
        margin-right: 20px;
    }  
    .computer{
        display: flex;
        flex-direction: column;
    }  
    .button{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-bottom: 10px;
        background: white;
        cursor: pointer;
        border: 1px solid #aaa;
        outline: none;
    }
    i{
        font-size: 50px;
     }
     p{
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        background-color: rgb(247, 244, 244);
        padding: 5px;
        border-radius: 10px;
        position: absolute;
        top: 30px;
        left: 20px;  
     }
     .scoreboard{ 
        width: 150px;
        height: 105px;      
        position: absolute;
        top: 10%;
        background: rgb(0, 0, 0);
        left: 28%;
        font-family: 'Oswald', sans-serif;
        font-size: 14px; 
    }
    .userpoint{
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
    }
    .computerpoint{
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
    }
    .tiepoint{
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
    }
    .userpoint .player{
        margin-right: 78px;
    }
    .computerpoint .player{
        margin-right: 38px;
    }
    .tiepoint .player{
        margin-right: 92px;
    }
    .reset{
        position: absolute;
        top:27%;
        left: 42%;
        width: 50px;
        height: 25px;
        border-radius: 25px;
        letter-spacing: 1px;
        font-size: 12px;
        cursor: pointer;
    }
    .tag{
        position: absolute;
        left: 23%;
        top:35%;
        font-size: 15px;
        font-weight: 600;
        display:flex ;
        flex-direction: row;
    }
    .tag span{
        margin-right: 25px;
        background-color: rgb(247, 244, 244);
        padding: 5px 20px;
        border-radius: 10px;
    }
   .user button{
       border: 5px solid black;
   }
}

